<h3>Create Token Form</h3>
<div [hidden]="submitted" style="width: 300px;">
	<form (ngSubmit)="onSubmit()">
			<div class="form-group">
					<label for="tokenId">Token Id</label> <input type="text"
						class="form-control" id="tokenId" required
						[(ngModel)]="token.tokenId" name="tokenId">
				</div>
		<div class="form-group">
			<label for="concCode">Concession Code</label> <input type="text"
				class="form-control" id="concCode" required
				[(ngModel)]="token.concCode" name="concCode">
		</div>
		<div class="form-group">
			<label for="srlAlpha">Serial Alpha Code</label> <input type="text"
				class="form-control" id="srlAlpha" required
				[(ngModel)]="token.srlAlpha" name="srlAlpha">
    </div>
    <div class="form-group">
			<label for="srlNoStart">Serial no Start</label> <input type="text"
				class="form-control" id="srlNoStart" required
				[(ngModel)]="token.srlNoStart" name="srlNoStart">
    </div>
    <div class="form-group">
			<label for="srlNoEnd">Serial no End</label> <input type="text"
				class="form-control" id="srlNoEnd" required
				[(ngModel)]="token.srlNoEnd" name="srlNoEnd">
    </div>
    <div class="form-group">
			<label for="idStatus">Status</label> <input type="text"
				class="form-control" id="idStatus" required
				[(ngModel)]="token.idStatus" name="idStatus">
    </div>
    <div class="form-group">
			<label for="refLetter">Reference Letter</label> <input type="text"
				class="form-control" id="refLetter" required
				[(ngModel)]="token.refLetter" name="refLetter">
    </div>
    <div class="form-group">
			<label for="remark">Remark</label> <input type="text"
				class="form-control" id="remark" required
				[(ngModel)]="token.remark" name="remark">
    </div>
    <div class="form-group">
			<label for="billNo">Bill no</label> <input type="text"
				class="form-control" id="billNo" required
				[(ngModel)]="token.billNo" name="billNo">
    </div>
    
    <div class="form-group">
			<label for="issuingDate">Issuing Date</label> <input type="date"
				class="form-control" id="issuingDate" required
				[(ngModel)]="token.issuingDate" name="issuingDate">
    </div>
 
		<div class="btn-group">
			<button class="btn btn-primary" (click)="goBack()">Back</button>
			<button type="submit" class="btn btn-success">Submit</button>
		</div>
	</form>
</div>
 
<div [hidden]="!submitted">
	<div class="btn-group ">
		<h4>You submitted successfully!</h4>
		<button class="btn btn-primary" (click)="goBack()">Back</button>
		<button class="btn btn-success" (click)="newtoken()">Add</button>
	</div>
</div>